# initialization code - put only once at the beginning of .htaccess
RewriteCond %{HTTPS} =on
RewriteRule ^(.*)$ - [env=proto:https]
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ - [env=proto:http]

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} !rocketmq.apache.org$ [NC]
RewriteRule ^(.*)$ %{ENV:proto}://rocketmq.apache.org/$1 [L,R=301]
