.heroBanner {
  padding: 4rem 1rem 5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background-image: url('/img/rmq-home-page.png');
  background-size: cover;
  background-position: center;
}

.herotitle {
  font-size: 6.5rem;
  line-height: 1.1;
  word-break: normal;
}

.herosubtitle {
  font-size: 1.5rem;
  max-width: 760px;
  margin: 1.5rem auto 0;
}

@media (max-width: 966px) {
  .herotitle {
    font-size: 6rem;
  }

  .herosubtitle {
    font-size: 1.3rem;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.5rem;
}

.buttons > a {
    margin: 0 6px;
}

@media (max-width: 650px) {
    .herotitle{
    font-size: 4rem;
    }

  .herosubtitle {
    font-size: 1rem;
  }

  .button {
    width: 200px !important;
  }

  .button2 {
    display: none !important;
  }
}

@media (max-width: 400px) {
    .herotitle{
      font-size: 3.2rem;
    }
}

.github{
  margin-top: 2rem;
}

